@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    position: relative;
    box-sizing: border-box;
    width: auto;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background: #000;
}
menu{
    display: inline-block;
    padding: 5px;
    padding-left: 30px;
    height: 50px;
    background-color: rgb(0, 128, 0);
    width: calc(100% - 10px);
    margin: 5px;
    top: 2px;
    box-sizing: border-box;
}
li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin-bottom: 0px;
    cursor: pointer;
    max-height: 40px;
    white-space: nowrap;
    font-weight: bold;
    transition: 1s;
}
ol{
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100px;
    list-style: none;
    text-decoration: none;
    white-space: wrap;
    background: rgb(0, 128, 0);
    transition: opacity 1s;
}
ol li{
    min-width: 100%;
}

li:hover{
    background: rgb(0, 178, 0);
    color: #fff;
}
li:hover > ol{
    display: block;
    animation: 1s show forwards;
}
ol:hover{
    display: block;
    animation: 1s show forwards;
}
ol li ol{
    top: 0;
    left: 100%;
    border-left: solid #000 3px;
}
li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
ol li a{
    padding-left: 0;
}
li svg{
    top: 2px;
}
.logo{
    display: inline-block;
    color: rgb(166, 249, 166);
    cursor: pointer;
    margin-right: 50px;
    font-weight: bold;
    font-size: 1.3em;
    top: 2px;
}
@keyframes show {
    to{
        opacity: 1;
    }
}
ol:not(:hover) {
    animation: hide 1s forwards;
}
@keyframes hide {
    to {
        opacity: 0;
    }
}